*{
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(25deg, #3b7197, #4a8db7, #74bde0,#74bde0,#a1e1fa) fixed;
    color: #000 ;
}

.border{
    border: 1px solid red;
}

/* Formatação do container */

#container{
    margin: 0.5em;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: column;
    gap: 1em;
}

/* Formatação coluna video */

#video{
    display: grid;
    align-items: center;
    justify-content: center;
    height:100%;
}
.link{ /* Formatação dos Botões de links*/
    display: block;
    max-width: fit-content;
    text-align: center;
    background-color: #3b7197;
    margin: 0.2em auto;
    padding: 8px 16px;
    font-size: 22px;
    border-radius: 0.7em;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: 1px solid #303030;
}
.link:hover{
    background: linear-gradient(25deg,#4a8db7, #74bde0,#a1e1fa);
    color: #000;


}

/* Formatação coluna curriculo*/

#curriculo{
    padding: 0.2em;
    font-size: 20px;
    max-width: fit-content;
}

#dadosPessoais{
    padding: 0.2em;
    max-width: fit-content;
}

#dadosPessoais p{
    padding: 0.5em 1em;
}

#cursos{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

#cursos h3{
    margin-top: 0.5em;
}

#cursos ul{
    list-style:none;
    margin: 0.2em;
}

#cursos ul li{
    margin-top: 0.3rem;
}

/* Formatação experiencia Profissional*/

#containerExpProf{
    margin: 0.5em;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 1em;
    
}


#experienciaProfissional{
    font-size: 20px;
    padding: 0.5em;
    margin: auto;
    max-width: 40em;
}

/*Formatação do container Cursos */

.containerCursos{
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
    column-gap: 1em;

}

.containerCursos-item{
    /*background: #4a8db7;*/
    color: #000;
    margin: 1em auto;    
    transition: 300ms;
    font-size: 18px;
    border-radius: 1em;
    padding: 0.5em;
}
.containerCursos-item .titulo{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.containerCursos-item ul{
    list-style: none;
    margin: 1em 0;
}

.containerCursos-item:hover{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.img-fluida{
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    border: 1px solid #330303;
    height: 15em;
}













/* Media Queries*/

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 
    #container{
        margin: 0.5em;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 1em;
        align-items: center;
    }

    .containerCursos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        margin: auto;    
    }

    
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #container{
        margin: 0.5em;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 1em;
        text-align: center;
    }

    .containerCursos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        margin: auto;
    }

}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #container{
        margin: 0.5em;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-flow: row;
        gap: 1em;
    }

    .containerCursos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        gap: 2em;
        margin: auto;    
    }


}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {

}

